the main requierments for this code to run is : 
 
- istalling IDE like (vscode - pycharm)
 
- downloading mediapipe version  (0.8.11)

- open camera of person doing a supported exercise

- Place the camera horizontally facing the person performing exercise (preferably at eye level).
